apiVersion: apps/v1
kind: Deployment
metadata:
  name: udagram-backend-feed
  labels:
    app: udagram-backend-feed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: udagram-backend-feed
  template:
    metadata:
      labels:
        app: udagram-backend-feed

    spec:
      containers:
        - name: udagram-api-feed
          image: docker.io/kokose/udagram-api-feed:v1
          imagePullPolicy: Always

          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "2048Mi"
              cpu: "500m"

          envFrom:
            - configMapRef:
                name: env-configmap
            - secretRef:
                name: env-secret

          volumeMounts:
            - mountPath: "/root/.aws/"
              name: aws-secret
              readOnly: true

      restartPolicy: Always
      volumes:
        - name: aws-secret
          secret:
            secretName: aws-secret
            optional: false
